<!-- =======================
Main Banner START -->
<section class="py-0">
    <div class="container">
        <!-- Background image -->
        <div class="rounded-3 p-3 p-sm-5"
            style="background-image: url(assets/images/bg/train-bg.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;">
            <!-- Banner title -->
            <div class="row">
                <div class="col-md-10 mx-auto text-center">
                    <h5 class="display-5 pt-sm-5 my-5 text-primary" style="backdrop-filter: blur(3px);">Explore
                        the new
                        Journey!</h5>
                </div>
            </div>
            <!-- Booking from START -->
            <app-search></app-search>
            <!-- Booking from END -->
        </div>
    </div>
</section>
<!-- =======================
Main Banner END -->